#background {
    background-attachment:  fixed;
    background-image: url("../images/landDark2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    padding: 0;
    text-align: center;
}

.bannerButton {
    border-radius:'1vh';
    background:'rgba(100,100,100,0.5)';        
    font-size:'2vh';
    height:'6vh';
    line-height:'6vh'; 
    width:'30vw';
    color:'white';
    cursor: 'pointer';
}

    .bannerButton:hover {
        border-radius:'1vh';
        background:'rgba(100,100,100,0.8)';        
        font-size:'2vh';
        height:'6vh';
        line-height:'6vh'; 
        width:'30vw';
        color:'white';
        cursor: 'pointer';
    }